html, body {
  padding: 0;
  margin: 0; 
  background-color: #FFFFFF;
}

#ig-viewer {
  position: relative;
  height: 100%; 
}

#ig-viewer .ig-view-content {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  height: auto !important;
  margin-bottom: -155px;
  padding-bottom: 155px; 
  font-family: euclid-bold, sans-serif;
  background: #FFFFFF;
}

#ig-viewer .ig-view-content #ig-view-twolevelmenu .header {
  border-bottom: 1px solid #010e52;
}


#ig-viewer .ig-view-content #ig-view-twolevelmenu .header .navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

#ig-viewer .ig-view-content #ig-view-twolevelmenu .header .navbar a {
  font-family: euclid-bold, sans-serif;

}
.navbar-default {
  background-color: #FFFFFF;
}

#ig-viewer .ig-view-content #ig-view-twolevelmenu .header .navbar .navbar-header {
  margin-bottom: 10px; 
}

#ig-viewer .ig-view-content #ig-view-twolevelmenu .header .navbar .navbar-nav > li > a {
  padding-top: 15px; 
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}

.gem-headline-box {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  height: 280px;
  margin:0;
  padding:0px;
}

#ig-headline {
  min-height: 200px;
  max-height: 230px;
  overflow: hidden;
  background: #010e52;
  padding: 40px;
  margin: 40px;
}
#ig-headline .ig-headline-title {
  font-family: euclid-bold, sans-serif;
  line-height: 1.125;
  font-size: 20pt;
  font-weight: bold;
  color: #00ff65 !important;
  padding-bottom: 10px;
}

#ig-headline .ig-headline-subtitle {
  font-family: euclid-regular, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 18px;
  color: #FFFFFF !important;
}

.gem-logo {
  width: 350px;
  padding: 25px;
} 


#ig-viewer .ig-view-content #ig-view-twolevelmenu .gem-content {
  margin-right: auto;
  margin-left: auto;
}

#ig-viewer .ig-view-content #ig-view-twolevelmenu .gem-content img {
  max-width: 100%;
}
  
#ig-viewer .ig-view-content #ig-view-twolevelmenu .content .row {
  background: transparent;
}

#ig-viewer .ig-view-content #ig-view-twolevelmenu .content .nav-pills > li > a {
  overflow: hidden;
  text-overflow: ellipsis; 
}

#ig-editor table.scrollbar,#ig-viewer table.scrollbar,#preview-content table.scrollbar,.rendered-resource table.scrollbar {
    display: inline-table !important;
}

#ig-viewer .ig-view-footer {
  height: 155px;
  position: relative;
  padding: 40px;
  background-color: #f2f3f7;
}

.breadcrumb {
  padding: 0px 15px;
  background-color: #ffffff;
}

.api-url {
  background-color: #eff7ff;
  border-radius: 4px;
  padding: 8px;
  font-size: 12pt;
  color: #010e52;
  font-weight: bold;
  border: 2px solid #61affe;
  display: inline-block;
}


h1 {
  counter-reset: h2
}

h2 {
  counter-reset: h3
}

h3 {
  counter-reset: h4
}

h2:before {
  counter-increment: h2;
  content: counter(h2) " "
}

h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " "
}

h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " "
} 
